<nav class="navbar navbar-expand-lg navbar-light bg-light custom-header" data-ng-controller="HeaderController as headerCtrl">
<!--    <a class="navbar-brand" href="#">IMDB</a>-->
    <a href="javascript:" class="navbar-brand logo brand-link">
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
             <img src="/img/imdb-logo.png" alt="logo" class="company-logo">
        </span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" ng-show="global.user.isAdmin">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" href="#" ui-sref="movies.list">Movies</a>
                    <a class="dropdown-item" href="#" ui-sref="genres.list">Genres</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item" ng-hide="global.user">
                <button class="btn btn-primary ml-auto" ui-sref="login">Login</button>
            </li>
            <li class="nav-item mx-2" ng-hide="global.user">
                <button class="btn btn-primary ml-auto" ui-sref="signUp">Sign up</button>
            </li>
            <li class="nav-item dropdown" ng-show="global.user">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ global.user.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ui-sref="movies.list"  ng-show="global.user.isAdmin">Movies</a>
                    <a class="dropdown-item" href="#" ui-sref="genres.list"  ng-show="global.user.isAdmin">Genres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:" ng-click="headerCtrl.logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
