<!DOCTYPE html>
<html lang='en' data-ng-app="imdbApp">

    <%- include('./../includes/head.html') %>

    <body class="sidebar-mini sidebar-collapse" data-ng-controller="MainController as mainCtrl">
        <%- include('./../includes/header-layout.html') %>

        <div class="wrapper">
            <div class="content-wrapper bg-white">
                <section data-ui-view></section>
            </div>
        </div>

        <% if(user) { %>
            <script type="text/javascript">
                window.user = <%-user%>;
            </script>
        <% } %>
    </body>
</html>

